{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "products/vpn/includes/macros.html" import hero_image, join_waitlist_button, vpn_nav_cta, vpn_content_well with context %}

{% extends "products/vpn/base.html" %}

{% block page_title_full %}{{ ftl('vpn-landing-page-title') }}{% endblock %}
{% block page_title_suffix %}{% endblock %}

{% block page_desc %}{{ ftl('vpn-landing-page-desc', countries=30) }}{% endblock %}

{% block body_id %}mozilla-vpn-landing{% endblock %}

{% set _utm_source = 'www.mozilla.org-vpn-product-page' %}
{% set _utm_campaign = 'vpn-product-page' %}
{% set _params = '?utm_source=' ~ _utm_source ~ '&utm_medium=referral&utm_campaign=' ~ _utm_campaign %}

{% block page_css %}
  {{ css_bundle('mozilla-vpn-landing') }}
{% endblock %}

{% block site_header %}
  {% with
    custom_nav_cta=vpn_nav_cta(
      link_text=ftl('vpn-shared-subscribe-link'),
      alt_link_text=ftl('vpn-shared-waitlist-link'),
      sign_in_link_text=ftl('vpn-shared-sign-in-link'),
      utm_source=_utm_source,
      utm_campaign=_utm_campaign,
    )
  %}
    {% include 'includes/protocol/navigation/navigation.html' %}
  {% endwith %}
{% endblock %}

{% block content %}
<main>
  <section class="vpn-hero">
    <div class="mzp-l-content mzp-t-content-xl">
      <div class="vpn-hero-container">
        <div class="vpn-hero-body">
          <h1 class="vpn-hero-title">{{ ftl('vpn-shared-product-name') }}</h1>
          <h2 class="vpn-hero-subtitle">{{ ftl('vpn-landing-hero-sub-heading') }}</h2>
          <div class="vpn-hero-desc">
            <p>{{ ftl('vpn-landing-hero-desc') }}</p>

            {{ vpn_subscribe_link(
              entrypoint=_utm_source,
              link_text=ftl('vpn-shared-subscribe-link'),
              class_name='mzp-c-button mzp-t-xl js-try-vpn',
              optional_parameters={
                'utm_campaign': _utm_campaign
              },
              optional_attributes={
                'data-cta-type': 'fxa-vpn',
                'data-cta-text': 'Try Mozilla VPN',
                'data-cta-position': 'primary',
              }
            ) }}

            {{ join_waitlist_button(link_text=ftl('vpn-shared-waitlist-link'), position='primary') }}
            <p class="availability-copy js-country-list">{{ ftl('vpn-shared-available-countries') }}</p>
            <div class="vpn-hero-tagline">
              <p class="vpn-availability">{{ ftl('vpn-shared-available-platforms') }}</p>
            </div>
          </div>
        </div>
        <div class="vpn-hero-image hide-from-legacy-ie" data-illustration="n-1">
          {{ hero_image(
            'img/products/vpn/landing/vpn-hero-01.png',
            'img/products/vpn/landing/vpn-hero-01-high-res.png',
            'n-1')
          }}
          {{ hero_image(
            'img/products/vpn/landing/vpn-hero-02.png',
            'img/products/vpn/landing/vpn-hero-02-high-res.png',
            'n-2')
          }}
          {{ hero_image(
            'img/products/vpn/landing/vpn-hero-03.png',
            'img/products/vpn/landing/vpn-hero-03-high-res.png',
            'n-3')
          }}
          {{ hero_image(
            'img/products/vpn/landing/vpn-hero-04.png',
            'img/products/vpn/landing/vpn-hero-04-high-res.png',
            'n-4')
          }}
          {{ hero_image(
            'img/products/vpn/landing/vpn-hero-05.png',
            'img/products/vpn/landing/vpn-hero-05-high-res.png',
            'n-5')
          }}
        </div>
      </div>
    </div>
  </section>

  <div class="mzp-l-content mzp-t-content-xl">

    {% call vpn_content_well(
      title=ftl('vpn-landing-encrypt-heading'),
      image_url='img/products/vpn/landing/vpn-cntwell-01.png',
      class='vpn-content-well-right-half'
    ) %}
      <p>{{ ftl('vpn-landing-encrypt-desc') }}</p>
    {% endcall %}

    {% call vpn_content_well(
      title=ftl('vpn-landing-speed-heading'),
      image_url='img/products/vpn/landing/vpn-cntwell-02.png',
      class='vpn-content-well-left-half'
    ) %}
      <p>{{ ftl('vpn-landing-speed-desc') }}</p>
    {% endcall %}

    {% call vpn_content_well(
      title=ftl('vpn-landing-activity-heading'),
      image_url='img/products/vpn/landing/vpn-cntwell-03.png',
      class='vpn-content-well-right-half'
    ) %}
      <p>{{ ftl('vpn-landing-activity-desc') }}</p>
    {% endcall %}

    {% call vpn_content_well(
      title=ftl('vpn-shared-price-monthly', amount=default_monthly_price),
      image_url='img/products/vpn/landing/vpn-cntwell-04.png',
      class='vpn-content-well-left-half vpn-content-well-price'
    ) %}
      <ul class="mzp-u-list-styled">
        <li>{{ ftl('vpn-shared-features-encrypt') }}</li>
        <li>{{ ftl('vpn-shared-features-servers', servers=280, countries=30) }}</li>
        <li>{{ ftl('vpn-shared-features-bandwidth') }}</li>
        <li>{{ ftl('vpn-shared-features-activity') }}</li>
        <li>{{ ftl('vpn-shared-features-devices', devices=5) }}</li>
      </ul>

      {{ vpn_subscribe_link(
        entrypoint=_utm_source,
        link_text=ftl('vpn-shared-subscribe-link'),
        class_name='mzp-c-button mzp-t-xl js-try-vpn',
        optional_parameters={
          'utm_campaign': _utm_campaign
        },
        optional_attributes={
          'data-cta-type': 'fxa-vpn',
          'data-cta-text': 'Try Mozilla VPN',
          'data-cta-position': 'secondary',
        }
      ) }}

      {{ join_waitlist_button(link_text=ftl('vpn-shared-waitlist-link'), position='secondary') }}
    {% endcall %}

    {% call vpn_content_well(
      title=ftl('vpn-shared-available-coming-soon', countries=6),
      image_url='img/products/vpn/landing/vpn-cntwell-05.png',
      class='vpn-content-well-right-half vpn-content-well-waitlist'
    ) %}
      {{ join_waitlist_button(link_text=ftl('vpn-shared-waitlist-link'), is_conditional=False, position='secondary') }}
      <p class="availability-copy">{{ ftl('vpn-shared-available-countries') }}</p>
    {% endcall %}

    {% call vpn_content_well(
      title=ftl('vpn-landing-partner-heading'),
      image_url='img/products/vpn/landing/vpn-cntwell-06.png',
      class='vpn-content-well-left-half'
    ) %}
      <p>{{ ftl('vpn-landing-partner-desc', mullvad='https://mullvad.net/help/no-logging-data-policy/', wireguard='https://mullvad.net/help/why-wireguard/') }}</p>
    {% endcall %}

  </div>

  <section class="vpn-faq mzp-l-content mzp-t-content-lg">
    <h2 class="vpn-faq-section-title">{{ ftl('vpn-landing-faq-heading') }}</h2>

    <details class="vpn-faq-item">
      <summary class="vpn-faq-item-title">
        <h3>{{ ftl('vpn-landing-faq-devices-question-heading') }}</h3>
      </summary>
      <p class="vpn-faq-item-detail">{{ ftl('vpn-landing-faq-devices-question-desc') }}</p>
    </details>

    <details class="vpn-faq-item">
      <summary  class="vpn-faq-item-title">
        <h3>{{ ftl('vpn-landing-faq-info-question-heading') }}</h3>
      </summary>
      <p class="vpn-faq-item-detail">{{ ftl('vpn-landing-faq-info-question-desc', privacy=url('privacy.principles')) }}</p>
    </details>

    <details class="vpn-faq-item">
      <summary class="vpn-faq-item-title">
        <h3>{{ ftl('vpn-landing-faq-protected-question-heading') }}</h3>
      </summary>
      <p class="vpn-faq-item-detail">{{ ftl('vpn-landing-faq-protected-question-desc') }}</p>
    </details>

    <details class="vpn-faq-item">
      <summary class="vpn-faq-item-title">
        <h3>{{ ftl('vpn-landing-faq-refund-question-heading') }}</h3>
      </summary>
      <p class="vpn-faq-item-detail">{{ ftl('vpn-landing-faq-refund-question-desc') }}</p>
    </details>

    <footer class="vpn-faq-footer">
      {{ vpn_subscribe_link(
        entrypoint=_utm_source,
        link_text=ftl('vpn-shared-subscribe-link'),
        class_name='mzp-c-button mzp-t-xl js-try-vpn',
        optional_parameters={
          'utm_campaign': _utm_campaign
        },
        optional_attributes={
          'data-cta-type': 'fxa-vpn',
          'data-cta-text': 'Try Mozilla VPN',
          'data-cta-position': 'secondary',
        }
      ) }}

      {{ join_waitlist_button(link_text=ftl('vpn-shared-waitlist-link'), position='secondary') }}

      <a class="vpn-faq-footer-link mzp-c-cta-link" href="https://support.mozilla.org/products/firefox-private-network-vpn{{ _params }}&utm_content=vpn-faq-see-more-link" data-cta-type="link" data-cta-text="FAQ See More">
        {{ ftl('vpn-landing-faq-link') }}
      </a>

      {% include 'products/vpn/includes/footer-legal.html' %}
    </footer>
  </section>

</main>
{% endblock %}

{% block js %}
  {{ js_bundle('mozilla-vpn-landing') }}
{% endblock %}
