{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}


{% macro build_locale_list(platforms, builds, title, description) %}
  {% if builds %}
    <section id="{{ channel }}" class="c-channel">
      <h2 class="c-channel-name">{{ channel_label }}</h2>

      <ol class="c-locale-list">
      {% for build in builds %}
        {{ build_locale_list_item(platforms, build) }}
      {% endfor %}
      </ol>
    </section>
  {% endif %}

  {% if test_builds %}
    <div class="c-localized-testing">
      {{ build_locale_list(platforms, test_builds,
            _('Localized versions in testing'),
            _('These localizations aren’t final. We’re waiting for more feedback from the community to perfect them.')) }}
    </div>
  {% endif %}
{% endmacro %}

{% macro build_locale_list_item(platforms, build) %}
  <li class="c-locale-list-item">
    <h4 class="c-locale-label">{{ build.name_en }} <span lang="{{ build.locale }}">{{ build.name_native }}</span></h4>

    <ul class="c-download-list">
    {% for p_name, p_label in platforms %}
      <li>{{ build_link(build, p_name, p_label, _('Download for %(platform)s in %(locale)s')|format(platform=p_label|replace('\n', ' '), locale=build.name_en)) }}</li>
    {% endfor %}
    </ul>
  </li>
{% endmacro %}

{#
  build: Locale dictionary from product details.
  platform: Value in build.platforms to use. One of 'win', 'win64', 'osx', 'linux' and 'linux64'.
  tooltip: Text to display as tooltip for download link.
#}
{% macro build_link(build, platform, platform_label, tooltip) %}
  <a href="{{ build.platforms[platform].download_url }}" title="{{ tooltip }}"
    data-download-version="{{ platform }}" data-download-language="{{ build.name_en|lower}}"
    data-link-type="download" data-download-os="Desktop">{{ platform_label }}
  </a>
{% endmacro %}
