{# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% add_lang_files "firefox/all-2019" %}

{% from "product-all-macros.html" import build_locale_list, build_locale_list_item, build_link with context %}

{% extends "firefox/base-protocol.html" %}

{%- block page_title -%}
  {#- L10n: HTML page title. Replace "English" with your local language. -#}
  {{ _('Download the Firefox browser in English and more than 90 other languages') }}
{%- endblock -%}

{%- block page_desc -%}
  {#- L10n: HTML page description, also used as the introductory text. -#}
  {{ _('Everyone deserves access to the internet — your chosen language should never be a barrier. That’s why — with the help of dedicated volunteers around the world — we make Firefox available in more than 90 languages.') }}
{%- endblock -%}

{% block body_id %}firefox-all{% endblock %}
{% block body_class %}firefox-all{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_all') }}
{% endblock %}

{% block content %}
<main class="mzp-t-firefox">
  <div class="mzp-l-content">
    <section class="c-page-header">
      <div class="c-intro">
        <h1 class="c-page-title">{{ _('Choose which Firefox browser to download in your language') }}</h1>
        <p>{{ _('Everyone deserves access to the internet — your language should never be a barrier. That’s why — with the help of dedicated volunteers around the world — we make the Firefox desktop browser available in more than 90 languages.') }}</p>

        <ul>
          {% if channel != 'nightly' %}
          <li><a href="{{ firefox_url(platform, 'sysreq', channel) }}">{{ _('Check the system requirements') }}</a></li>
          <li><a href="{{ firefox_url(platform, 'notes', channel) }}">{{ _('Release notes') }}</a></li>
          {% endif %}
          <li><a href="https://developer.mozilla.org/docs/Mozilla/Developer_guide/Source_Code">{{ _('Source code') }}</a></li>
        </ul>

        <ul>
          <li><a href="{{ url('privacy.notices.firefox') }}">{{ _('Firefox Privacy Notice') }}</a></li>
          <li><a href="https://support.mozilla.org/kb/refresh-firefox-reset-add-ons-and-settings?utm_source=mozilla.org&amp;utm_medium=referral&amp;utm_campaign=all-downloads-fix-problem">{{ _('Fix a problem') }}</a></li>
          <li><a href="https://support.mozilla.org/products/?utm_source=mozilla.org&amp;utm_medium=referral&amp;utm_campaign=all-downloads-need-help">{{ _('Need help?') }}</a></li>
        </ul>
      </div>

      <div class="c-selection">
        <form action="#">
          <fieldset>
            <p class="c-selection-product">
              <label for="product">
                {{ _('Which browser would you like to download?') }}
                {# L10n: A contextual hint for a help button, appearing in the HTML title attribute. #}
                <a href="#browser-help" class="c-button-help" title="{{ _('Learn about Firefox browsers') }}">
                  {# L10n: Used as an accessible label for a help button. The text is replaced with a "?" icon. #}
                  {{ _('Get help') }}
                </a>
              </label>
              <select id="product">
                <option>Firefox</option>
                <option>Firefox Beta</option>
                <option>Firefox Developer Edition</option>
                <option>Firefox Nightly</option>
                <option>Firefox for Enterprise</option>
              </select>
            </p>

            <p class="c-selection-platform">
              <label for="platform">{{ _('Which operating system are you using?') }}</label>
              <select id="platform">
                <option>Windows 32-bit, EXE installer</option>
                <option>Windows 32-bit, MSI installer</option>
                <option>Windows 64-bit, EXE installer</option>
                <option>Windows 64-bit, MSI installer</option>
                <option>macOS</option>
                <option>Linux 32-bit</option>
                <option>Linux 64-bit</option>
              </select>
            </p>

            <p class="c-selection-language">
              <label for="language">{{ _('Would you like to select a different language?') }}</label>
              <select id="language">
                <option value="en-US">English (US)</option>
                <option value="de">Deutsch</option>
                <option value="fr">Français</option>
                <option value="es-ES">Español (de España)</option>
                <option value="ja">日本語</option>
                <option value="etc">and so on...</option>
              </select>
            </p>
          </fieldset>
        </form>

        <div class="c-download">
          <p class="c-download-info">
            {{ _('You are about to download:') }}
            <br>
            <span class="c-download-info-label">{{ _('Browser:') }}</span>
            <b class="c-download-info-content" id="download-info-product">{{ channel_label }}</b>
            <br>
            <span class="c-download-info-label">{{ _('Platform:') }}</span>
            <b class="c-download-info-content" id="download-info-platform">Windows</b>
            <br>
            <span class="c-download-info-label">{{ _('Language:') }}</span>
            <b class="c-download-info-content" id="download-info-language">{{ translations[LANG] }}</b>
          </p>

          {{ download_firefox(dom_id='download-intro', alt_copy=_('Download Now'), download_location='primary cta') }}
        </div>
      </div>
    </section>


    <aside id="browser-help" class="c-browser-help mzp-u-modal-content">
      <h3 class="c-modal-title">{{ _('About Firefox browsers') }}</h3>
      <dl>
        <dt>Firefox</dt>
        <dd>{{ _('The standard Firefox browser — fast and private. If you’re not sure which Firefox to choose, choose this.') }}</dd>

        <dt>Firefox Beta</dt>
        <dd>{{ _('Get a sneak peek at the latest Firefox browser features before they’re released.') }}</dd>

        <dt>Firefox Developer Edition</dt>
        <dd>{{ _('Test your sites against soon-to-be-released Firefox browser features with powerful, flexible developer tools.') }}</dd>

        <dt>Firefox Nightly</dt>
        <dd>{{ _('The pre-alpha version for power users who like to hunt crashes and test new features as they’re coded.') }}</dd>

        <dt>Firefox Extended Support Release</dt>
        <dd>{{ _('Count on stability and ease of use with this Firefox browser built for enterprise.') }}</dd>
      </dl>
    </aside>
  </div>

  <section id="all-downloads" class="mzp-l-content mzp-has-sidebar mzp-l-sidebar-left">
    <aside class="mzp-l-sidebar">
      <nav class="mzp-c-sidemenu">
        <ul class="mzp-c-sidemenu-main" id="sidebar-menu">
          <li><a href="#firefox">Firefox</a></li>
          <li><a href="#beta">Firefox Beta</a></li>
          <li><a href="#developer">Firefox Developer Edition</a></li>
          <li><a href="#nightly">Firefox Nightly</a></li>
          <li><a href="#esr">Firefox Extended Support Release</a></li>
        </ul>
      </nav>
    </aside>

    <div class="mzp-l-main">

      {{ build_locale_list(platforms, full_builds, _('Fully localized versions')) }}

    </div>
  </section>

</main>
{% endblock %}


{% block js %}
  {{ js_bundle('firefox_all') }}
{% endblock %}
